.hero
{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 4rem;
}
@media(max-width:1000px)
{
    .hero
    {
        flex-wrap: wrap;
        padding: 4rem 5rem;
    }
}
@media(max-width:600px)
{
    .hero
    {
        padding: 4rem 1.5rem;
    }
}

.hero > div
{
    
}
.hero > img
{
    margin: 3rem;
    height: 25rem;
}
.hero > div > p
{
    opacity: .5;
}